In [1]:
# Add all import libraries here

import pandas as pd
import numpy as np

### Read train data and test data

In [2]:
df_train = pd.read_csv("train.csv")
print('Number of train records: {}'.format(len(df_train)))
df_train.head()

Number of train records: 60000

,rent_approval_date,town,block,street_name,flat_type,flat_model,floor_area_sqm,furnished,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region,monthly_rent
0,2021-09,jurong east,257,Jurong East Street 24,3 room,new generation,67.0,yes,1983,1.344518,103.738630,0.0,yuhua east,jurong east,west region,1600
1,2022-05,bedok,119,bedok north road,4-room,new generation,92.0,yes,1978,1.330186,103.938717,0.0,bedok north,bedok,east region,2250
2,2022-10,toa payoh,157,lorong 1 toa payoh,3-room,improved,67.0,yes,1971,1.332242,103.845643,0.0,toa payoh central,toa payoh,central region,1900
3,2021-08,pasir ris,250,Pasir Ris Street 21,executive,apartment,149.0,yes,1993,1.370239,103.962894,0.0,pasir ris drive,pasir ris,east region,2850
4,2022-11,kallang/whampoa,34,Whampoa West,3-room,improved,68.0,yes,1972,1.320502,103.863341,0.0,bendemeer,kallang,central region,2100

In [3]:
df_test = pd.read_csv("test.csv")
print('Number of test records: {}'.format(len(df_test)))
df_test.head()

Number of test records: 30000

,rent_approval_date,town,block,street_name,flat_type,flat_model,floor_area_sqm,furnished,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region
0,2023-01,hougang,245,hougang street 22,5-room,improved,121.0,yes,1984,1.358411,103.891722,0.0,lorong ah soo,hougang,north-east region
1,2022-09,sembawang,316,sembawang vista,4-room,model a,100.0,yes,1999,1.446343,103.820817,0.0,sembawang central,sembawang,north region
2,2023-07,clementi,708,Clementi West Street 2,4-room,new generation,91.0,yes,1980,1.305719,103.762168,0.0,clementi west,clementi,west region
3,2021-08,jurong east,351,Jurong East Street 31,3 room,model a,74.0,yes,1986,1.344832,103.730778,0.0,yuhua west,jurong east,west region
4,2022-03,jurong east,305,jurong east street 32,5-room,improved,121.0,yes,1983,1.345437,103.735241,0.0,yuhua west,jurong east,west region

# Exploratory Data Analysis & Preprocessing

## Handle dirty records

### Inconsistent spelling

In [12]:
print("#unique flat_type: {}".format(df_train['flat_type'].unique())) #!found
print("#unique flat_model: {}".format(df_train['flat_model'].unique()))
print("#unique furnished: {}".format(df_train['furnished'].unique()))

#unique flat_type: ['3 room' '4-room' '3-room' 'executive' '5 room' '4 room' '5-room'
 '2-room' '2 room']
#unique flat_model: ['new generation' 'improved' 'apartment' 'premium apartment' 'simplified'
 'model a' 'standard' 'dbss' 'model a2' 'maisonette' 'model a-maisonette'
 'type s1' 'adjoined flat' 'type s2' 'premium apartment loft' '2-room'
 'premium maisonette' 'terrace' '3gen']
#unique furnished: ['yes']

### Wrong data

In [23]:
print("#number of records with lease_commence_date > 2023: {}".format(len(df_train[df_train['lease_commence_date']> 2023].index)))
print("#number of records with floor_area_sqm <= 0: {}".format(len(df_train[df_train['floor_area_sqm']<=0].index)))
print("#number of records with latitude > 90 or < -90: {}".format(len(df_train[(df_train['latitude']>90) | (df_train['latitude']<-90)].index)))
print("#number of records with longitude > 180 or < -180: {}".format(len(df_train[(df_train['longitude']>180) | (df_train['longitude']<-180)].index)))

#number of records with lease_commence_date > 2023: 0
#number of records with floor_area_sqm <= 0: 0
#number of records with latitude > 90 or < -90: 0
#number of records with longitude > 180 or < -180: 0

### NaN values

In [25]:
print("#number of NaN entries in each column: \n{}".format(df_train.isna().sum()))

#number of NaN entries in each column:
rent_approval_date     0
town                   0
block                  0
street_name            0
flat_type              0
flat_model             0
floor_area_sqm         0
furnished              0
lease_commence_date    0
latitude               0
longitude              0
elevation              0
subzone                0
planning_area          0
region                 0
monthly_rent           0
dtype: int64

### Categorical to numerical? and more...